*{
    font-family: 'Raleway', sans-serif;
    
}

#final-cog-display{
    /* background-color: rgb(168, 166, 166); */
    border-radius: 5%;
    padding: 10px;
}


input{
    width:5px;
}
#total-div{
    background-color: rgba(224, 240, 245, 0.473);
}